<!doctype html>
<html>
<head>
    <title>Spotify Snapshot</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Spotify Snapshot</a>
          </div>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ a_url }}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          </ul>
        </div>
      </nav>
      <div class="jumbotron text-center">
        <h1>Spotify Snapshot</h1>
        <p>Log in to see your most listened to artists and songs!</p>
        <a data-v-f72ef9c0="" href= "{{ a_url }}" class="btn btn-success" style="min-width: 250px;">Login with Spotify</a>
        <p style = "font-size: 11px; color: rgb(100,145,100); padding: 8px;">By
            logging in, you agree to the Spotify Developer API privacy
            policy</p>
      </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
<footer class="container-fluid text-center">
    <p style = "color: rgb(100,100,100)">Sharan Tatineni ©</p>
</footer>
</html>
